<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Second Step" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="nav">
    <div id="logo-img"><a href="/pages/index"><%= image_tag("uniqlo.png", height: 50, width: 50) %></a></div>
        <ul class="list">
            <li><a href="/products?category=Pria">Pria</a></li>
            <li><a href="/products?category=Wanita">Wanita</a></li>
            <li><% if user_signed_in? %>
      <%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete } %>
      <%else%>
      <%= link_to 'Sign in', new_user_session_path %>
        <%end%></li>
        </ul>
        
    </nav>
    <%= yield %>
  </body>
</html>
